// App state todos layout.
.app-state-todos {
  .status-bar {
    &__item {
      cursor: pointer;
      color: #c1c1c1;
    }
    &__item--active {
      font-weight: 700;
      color: $darkgray;
    }
  }
}
